.flex{
    background-color: plum;
    color:white;
     font-size:30px;
     text-align:center;
     width:99.5%;
     display:flex;
     height:720px;
     margin:0%;
     border:solid 6px black;
     position:relative;
     font-family:Arial, Helvetica, sans-serif;
}

.flex > div{
    margin-left: 0px;
    padding:20px;
    width:15%;
}

#box:nth-child(1){
    background-color: blueviolet;
}
#box:nth-child(2){
    background-color:powderblue;
}
#box:nth-child(3){
    background-color: royalblue;
}
#box:nth-child(4){
    background-color: rgb(43, 186, 226);
}
#box:nth-child(5){
    background-color: rgb(226, 98, 43);
}
#box:nth-child(6){
    background-color: rgb(226, 43, 208);
}
#box:nth-child(7){
    background-color: yellow;
}

@media only screen and (max-width:1100px){
    .flex{
        width:55%;
    }
    #box:nth-child(6){
        filter:opacity(80%)
    }
}